<section class="video-container">
  <div class="video-player">
    <div class="video-player-ifrm">
      <%= render partial: "videos/video_player", locals: { url: @video.video.url.to_s }%>
    </div>
  </div>

  <div class="video-playlist">
    <div class="playlist-headin-ifrmg">
      <span>Related Videos</span>
    </div>
  	<nav>
  		<ul id="video-list">
        <% @videos.each do |video| %>
          <li>
            <%= link_to video_watch_path(token: video.token) do %>
              <%= image_tag(video.thumb.url.to_s, width: 210) %>
              <%= video.title  %>
            <% end %>
          </li>
        <% end %>
      </ul>
  	</nav>
  </div>
</section>

<script id="videotpl" type="text/template">
  {{#videos}}
    <li><a href="{{url}}" onclick="return loadIframe('ifrm', this.href);">{{{title}}}</a></li>
  {{/videos}}
</script>
