<section>
  <div class="videos-collection">
    <div class="video">
      <img id="img" class="video-image" alt="" width="210"
      src="https://i.ytimg.com/vi/wen-2LhkpEM/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLD-_4G3nlGlYz3y8x4VnRDkJgxfEg">
      <h4 class="title">VIDEO TITLE</h4>
      <p class="channel">Fred Doido</p>
      <p class="views">100 mil vizualizacoes</p>
      <p class="date">4 semanas atras</p>
    </div>

    <div class="video">
      <img id="img" class="video-image" alt="" width="210"
      src="https://i.ytimg.com/vi/wen-2LhkpEM/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLD-_4G3nlGlYz3y8x4VnRDkJgxfEg">
      <h4 class="title">VIDEO TITLE</h4>
      <p class="channel">Fred Doido</p>
      <p class="views">100 mil vizualizacoes</p>
      <p class="date">4 semanas atras</p>
    </div>

    <div class="video">
      <img id="img" class="video-image" alt="" width="210"
      src="https://i.ytimg.com/vi/wen-2LhkpEM/hqdefault.jpg?sqp=-oaymwEZCNACELwBSFXyq4qpAwsIARUAAIhCGAFwAQ==&amp;rs=AOn4CLD-_4G3nlGlYz3y8x4VnRDkJgxfEg">
      <h4 class="title">VIDEO TITLE</h4>
      <p class="channel">Fred Doido</p>
      <p class="views">100 mil vizualizacoes</p>
      <p class="date">4 semanas atras</p>
    </div>
  </div>
</section>
