<div class="container">
  <h3 class="page-header" id="youtube-gallery">Gallery Videos</h3>
  <div class="row">
    <% @videos.each do |video| %>
      <a href="<%= video_watch_path(token: video.token) %>"
         data-title="<%= video.title %>"
         data-width="1024"
         data-toggle="lightbox" data-gallery="youtubevideos" class="col-sm-4 video">
        <button type="button" class="btn btn-play">
          <span class="glyphicon glyphicon-play" aria-label="Play"></span>
        </button>
        <img src="<%= video.thumb.url %>" class="img-responsive">
      </a>
    <% end %>
  </div>
</div>
