body {
  padding: 80px 0px;
  background-color: #f5f5f5;
}
.navbar-default {
  background-color: #0b4786;
  border-color: #0d5285;
}
.navbar-default .navbar-nav>li>a {
  color: #efefef;
}
.navbar-collapse {
  /*padding-top: 30px !important;*/
  max-height: 50px;
}
.navbar-collapse form[role="search"] {
  padding: 0px;
  margin: 0px;
  z-index: 0;
}
.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
  padding: 8px 12px;
  border-radius: 0px;
  border-width: 0px;
  border-color: rgb(231, 231, 231);
  box-shadow: none;
  outline: none;
}
.navbar-collapse form[role="search"] input {
  padding: 16px 12px;
  font-size: 14pt;
  color: rgb(160, 160, 160);
  box-shadow: none;
}
.navbar-collapse form[role="search"] button[type="reset"] {
  display: none;
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding-top: 0px !important;
  }
  .navbar-collapse form[role="search"] {

  }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    padding: 15px 12px;
  }
  .navbar-collapse form[role="search"] input {
    padding: 25px 12px;
    font-size: 14px;
    opacity: 1;
    background-color: #fff;
    color: #000;
  }
  .navbar-collapse form[role="search"].active {
    width: 100%;
  }
  .navbar-collapse form[role="search"].active button,
  .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1;
  }
  .navbar-collapse form[role="search"].active input {
    width: 100%;
  }
}
