.video-container {
 margin: 0 auto;
 position: relative;
 width: 940px;
 height: 360px;
 display: flex;
}

.video-player {
 left: 0;
 top: 0;
 width: 640px;
}

.video-player-ifrm {
 width: 640px;
 height: 360px;
 display: flex;
}

.video-playlist {
 left: 640px;
 top: 0;
 width: 300px;
}

.playlist-heading {
 background-color: #5b6068;
 color: #fff;
 font-size: 18px;
 letter-spacing: 0.1em;
 line-height: 36px;
 overflow: hidden;
 width: 300px;
}

.playlist-heading span {
 padding-left: 10px;
}

.video-playlist nav {
 background-color: #f8f8f8;
 font-size: 13px;
 width: 300px;
 height: 100%;
 overflow-y: auto;
}

#video-list {
 list-style-type: none;
 margin: 0;
 padding-left: 0;
}

#video-list img {
 width: 40%;
 max-height: 70px;
}

#video-list li {
 height: auto;
 margin-bottom: 0;
}

#video-list li a {
 border-bottom: #9b9da1 solid 1px;
 color: #666;
 display: block;
 height: 100%;
 line-height: 1.6;
 padding: 8px 10px;
 text-decoration: none;
 -webkit-transition: all .12s ease;
 -moz-transition: all .12s ease;
 -ms-transition: all .12s ease;
 -o-transition: all .12s ease;
 transition: all .12s ease;
}

#video-list li a:hover {
 background-color: #9b9da1;
 color: #fff;
 cursor: pointer;
}

@media only screen and (min-width: 1800px) {
 .video-container {
   width: 1640px;
   height: 720px;
 }

 .video-player {
   width: 1280px;
 }

 .video-player-ifrm {
   width: 1280px;
   height: 720px;
   display: flex;
 }

 .video-playlist {
   left: 1280px;
   top: 0;
   width: 360px;
 }

 .playlist-heading {
   width: 360px;
 }

 .video-playlist nav {
   width: 360px;
   height: 100%;
 }
}

.video-stats {
  width: 90%;
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
 .video-container {
   width: 1183px;
   height: 480px;
 }

 .video-player {
   width: 853px;
 }

 .video-player-ifrm {
   width: 853px;
   height: 480px;
   display: flex;
 }

 .video-playlist {
   left: 853px;
   top: 0;
   width: 330px;
 }

 .playlist-heading {
   width: 330px;
 }

 .video-playlist nav {
   width: 330px;
   height: 100%;
 }
}

@media only screen and (max-width: 959px) {
 .video-container {
   width: 100%;
   height: auto;
 }

 .video-player {
   height: 0; width: 100%; padding-bottom: 56.25%; position: relative;
 }

 .video-player-ifrm {
   display: flex;
   height: 100%; width: 100%; position: absolute; top: 0; left: 0;
 }

 .video-playlist {
   display: block;
   position: relative;
   left: 0;
   width: 100%;
 }

 .playlist-heading {
   width: 100%;
 }

 .video-playlist nav {
   width: 100%;
   height: 100%;
 }
}

@media only screen and (min-width:  0px) {
  .video-container .video-js {
    max-width: 1200px;
    width: 100%;
    height: 100%;
  }
}


@media only screen and (min-width:  960px) {
  .video-container .video-js {
    max-width: 1200px;
    width: 620px;
    height: 100%;
  }
}

@media only screen and (min-width:  1200px) {
  .video-container .video-js {
    max-width: 1200px;
    width: 770px;
    height: 100%;
  }
}



@media only screen and (min-width:  1800px) {
  .video-container .video-js {
    max-width: 1200px;
    width: 1200px;
    height: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .video-container {
    display: block;
  }

 .video-playlist nav {
   display: block;
   height: 100%;
 }

 .video-playlist {
    margin-top: 150px;
 }

   .video-stats {
     position: absolute;
    margin-top: 58%;
  }

  .video-player-dim {
    width: 875px;
  }

  #video-list img {
   width: 40%;
   max-height: 145px;
  }
 }

 @media only screen and (max-width: 560px) {
   #video-list img {
    width: 40%;
    max-height: 80px;
   }
  }

/* demo */
body {
 font-family:helvetica;
}
