<div class="bar">
  <div class="left button">HomemadeBroadcast</div>
  <div class="right button">Search</div>
  <div class="center">
    <div class="search_cont">
      <input class="search" type="text"/>
      <!-- <div class="search_items_wrap"><a class="search_item" href="#">0</a><a class="search_item" href="#">1</a><a class="search_item" href="#">2</a><a class="search_item" href="#">3</a><a class="search_item" href="#">4</a><a class="search_item" href="#">5</a><a class="search_item" href="#">6</a><a class="search_item" href="#">7</a><a class="search_item" href="#">8</a><a class="search_item" href="#">9</a>
      </div> -->
    </div>
  </div>
</div>
